{% extends 'base.html.twig' %}

{% block body %}
    <style>
        body {
            background: #F1F3FA;
        }

        /* Profile container */
        .profile {
            margin: 20px 0;
        }

        /* Profile sidebar */
        .profile-sidebar {
            padding: 20px 0 10px 0;
            background: #fff;
        }

        .profile-userpic img {
            float: none;
            margin: 0 auto;
            width: 50%;
            height: 50%;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
        }

        .profile-usertitle {
            text-align: center;
            margin-top: 20px;
        }

        .profile-usertitle-name {
            color: #5a7391;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 7px;
        }

        .profile-usertitle-job {
            text-transform: uppercase;
            color: #FF8661;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .profile-userbuttons {
            text-align: center;
            margin-top: 10px;
        }

        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

        .checked {
            color: #ffb19f;
        }

        .fa-star {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: white;
            color-scheme: #ffb19f;
            text-shadow: -1px 0 #ffb19f, 0 1px #ffb19f, 1px 0 #ffb19f, 0 -1px #ffb19f;
        }

        .container-img {
            position: relative;
            text-align: center;
            color: white;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

        .profile-usermenu {
            margin-top: 30px;
        }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

        .profile-usermenu ul li:last-child {
            border-bottom: none;
        }

        .profile-usermenu ul li a {
            color: #93a3b5;
            font-size: 14px;
            font-weight: 400;
        }

        .profile-usermenu ul li a i {
            margin-right: 8px;
            font-size: 14px;
        }

        .profile-usermenu ul li a:hover {
            background-color: #fafcfd;
            color: #FF8661;
        }

        .profile-usermenu ul li.active {
            border-bottom: none;
        }

        .profile-usermenu ul li.active a {
            color: #FF8661;
            background-color: #f6f9fb;
            border-left: 2px solid #FF8661;
            margin-left: -2px;
        }

        /* Profile Content */
        .profile-content {
            padding: 20px;
            background: #fff;
            min-height: 460px;
        }

        .profile-header-container {
            margin: 0 auto;
            text-align: center;
        }

        .profile-header-img {
            padding: unset;
        }

        .profile-header-img > img.img-circle {
            width: 120px;
            height: 120px;
            border: 2px solid #51D2B7;
        }

    </style>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <!--
    User Profile Sidebar by @keenthemes
    A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
    Licensed under MIT
    -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    merci, votre message a été envoyé
                </div>

            </div>
        </div>
    </div>
    <div class="contact-us container-fluid no-padding">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-header-container">
                        <div class="profile-header-img">
                            <img class="img-circle" src="{{ asset('uploads/brochures/'~app.user.brochureFilename) }}"/>
                            <!-- badge -->

                        </div>
                    </div>

                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{ app.user.username }}
                        </div>

                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->

                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Mon profile </a>
                            </li>
                            <li>
                                <a onclick="changeContent()" href="#">
                                    <i class="glyphicon glyphicon-user"></i>
                                    Mes style boards
                                </a>
                            </li>
                            <li>
                                <a onclick="paymentList()" href="#">
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                    Mes payments
                                </a>
                            </li>
                            <li>
                                <a onclick="support()" href="#">
                                    <i class="glyphicon glyphicon-headphones"></i>
                                    Support
                                </a>
                            </li>
                            <li>
                                <a onclick="parameters()" href="#">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    Paramétres

                                </a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" href="#">
                                    <i class="glyphicon glyphicon-log-out"></i>
                                    Se déconnecter


                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">

                <div class="profile-content">
                    <div id="content" class="tab-content">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="tab-pane active" id="home">
                                    <div class="contact-us container-fluid no-padding">

                                        <h3>
                                            <div style="color:#FF8661"> Informations générales</div>
                                        </h3>
                                        <br>
                                        <form class="form" action="##" method="post" id="registrationForm">
                                            <div class="form-group">

                                                <input type="text" class="form-control" name="first_name"
                                                       id="firstname"
                                                       placeholder="first name"
                                                       value="{{ app.user.firstname }}"
                                                       title="enter your first name if any.">
                                            </div>
                                            <div class="form-group">

                                                <input type="text" class="form-control"
                                                       value="{{ app.user.lastname }}"
                                                       name="last_name" id="lastname" placeholder="last name"
                                                       title="enter your last name if any.">
                                            </div>

                                            <div class="form-group">

                                                <input type="text" class="form-control"
                                                       value="{{ app.user.phonenumber }}" name="phone"
                                                       id="phone"
                                                       placeholder="enter phone"
                                                       title="enter your phone number if any.">
                                            </div>


                                            <div class="form-group">

                                                <input type="email" class="form-control"
                                                       value="{{ app.user.email }}"
                                                       name="email" id="email" placeholder="you@email.com"
                                                       title="enter your email.">
                                            </div>
                                            <div class="form-group">

                                                <input type="email" class="form-control"
                                                       value="{{ app.user.address }}"
                                                       name="city" id="city" placeholder="you@email.com"
                                                       title="enter your email.">
                                            </div>


                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <br>
                                                    <button style="color: #FF8661;border: 1px solid #FF8661"
                                                            class="btn btn-lg btn-success" onclick="parseuserdata()"
                                                            type="button"><i
                                                                class="glyphicon glyphicon-ok-sign"></i> Enregistrer

                                                    </button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="tab-pane active" id="home">
                                    <div class="contact-us container-fluid no-padding">
                                        <h4>
                                            <div style="color:#FF8661">Informations supplémentaires
                                            </div>
                                        </h4>
                                        <br>
                                        <div class="form-group">
                                            <label for="last_name" style="font-size: 11px">Est ce qu’il y a un article
                                                qui vous va parfaitement? (lien de l’article)
                                            </label>
                                            <input type="text" class="form-control"
                                                   name="reponse"
                                                   id="reponse"
                                                   placeholder="Tapez votre réponse .."
                                                   title="enter your phone number if any.">
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <br>
                                                    <button style="color: #FF8661;border: 1px solid #FF8661"
                                                            class="btn btn-lg btn-success" onclick="parseuserdata()"
                                                            type="button"><i
                                                                class="glyphicon glyphicon-ok-sign"></i> Ajouter

                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane active" id="home">
                                    <div class="contact-us container-fluid no-padding">
                                        <h4>
                                            <div style="color:#FF8661"> Médias sociaux

                                            </div>
                                        </h4>
                                        <br>
                                        <div class="form-group">

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <img src="images/logo/instagram.png">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="images/logo/facebook.png">

                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="images/logo/twitter.png">

                                                    </div>
                                                    <div class="col-md-3">
                                                        <img src="images/logo/pinterest.png">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-12">
                                                    <br>
                                                    <button style="color: #FF8661;border: 1px solid #FF8661"
                                                            class="btn btn-lg btn-success" onclick="parseuserdata()"
                                                            type="button"><i
                                                                class="glyphicon glyphicon-ok-sign"></i> Se connecter
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/tab-pane-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>

    <script>
        function handleForm(event) {
            event.preventDefault();
        }

        function parseuserdata() {
            var firstname = document.getElementById('firstname').value;
            var lastname = document.getElementById('lastname').value;
            var phone = document.getElementById('phone').value;
            var email = document.getElementById('email').value;
            var city = document.getElementById('city').value;

            console.log(phone)
            $.ajax({
                url: "{{ path('updateuser') }}",
                type: "POST",
                data: {'firstname': firstname, 'lastname': lastname, 'city': city, 'phone': phone, 'email': email},
                success: function (result) {
                    console.log(result.data)
                }
            });

        }

        function changeContent() {
            $.ajax({
                url: "{{ path('wardrobe') }}",
                type: "POST",
                success: function (result) {
                    var tmp;
                    if ((parseInt(result.nbboards) - parseInt(result.nbactivatedboards)) < 10) {
                        tmp = "0" + (parseInt(result.nbboards) - parseInt(result.nbactivatedboards));
                    } else {
                        tmp = (parseInt(result.nbboards) - parseInt(result.nbactivatedboards));
                    }
                    console.log(result)
                    var begin = "<div class='row'>" +
                        "<div class='col-md-9'>" +
                        "<div class='tab-pane active' id='home'>" +
                        "<div class='contact-us container-fluid no-padding'>" +
                        "<h3>" +
                        "<div style='color:#ffb19f'>Mes style boards" +
                        "</div>" +
                        "</h3><br><table class='table'>" +
                        "<thead>" +
                        "<tr>" +
                        "<th style='color: #cebe97;' scope='col'>Photo</th>" +
                        "<th style='color: #cebe97;' scope='col'>Date</th>" +
                        "<th style='color: #cebe97;' scope='col'>Essayé? </th>" +
                        "<th style='color: #cebe97;' scope='col'>Note</th>" +
                        "<th style='color: #cebe97;' scope='col'>view</th>" +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>";
                    var end = "</tbody>" +
                        "</table></div></div></div><div class='col-md-3'>" +
                        "<br>" +
                        "<div class='row'>" +
                        "<div class='col'>" +
                        "<div align='center'>" +
                        "<div class='container-img'> " +
                        "<img width='100px' src='images/shape.png'>" +
                        "<div style='color: #aeabab' class='centered'>" +
                        "<b><h5>" + (parseInt(result.nbboards) - parseInt(result.nbactivatedboards)) + "</h5></b>" +
                        "</div> " +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='modal fade' id='exampleModalLong' tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true'>" +
                        "     <div class='modal-dialog' role='document'>" +
                        "          <div class='modal-content'>" +
                        "             <div class='modal-header'>" +
                        "                <h5 class='modal-title' id='exampleModalLongTitle'>Confirmation</h5>" +
                        "              <button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                        "                  <span aria-hidden='true'>&times;</span>" +
                        "            </button>" +
                        "        </div>" +
                        "       <div class='modal-body'>" +
                        "          do you really want to activate the fashion board                                    </div>" +
                        "     <div class='modal-footer'>" +
                        "        <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>" +
                        "      <button type='button' onclick='purchasedirection()' class='btn btn-primary'>confirm</button>" +
                        "   </div>" +
                        "</div>" +
                        " </div>" +
                        "</div>" +
                        "<div style='padding-top: 20px' class='col'>" +
                        "<div style='color: #aeabab'> <strong><h5>Vous avez " + tmp + " style boards à activer dans votre armoire</h5></strong></div>" +
                        "</div>" +
                        "<div align='center' style='padding-top: 20px' class='col'>" +
                        "<button onclick='purchasedirection()' style='width: 200px;border: unset;height: 40px;background-image: linear-gradient(#ffb19f, #a9bee4);' type='submit'><div style='color: white'> Activer</div></button>" +
                        "</div>" +
                        "<div align='center' style='padding-top: 20px' class='col'>" +
                        "<button style='width: 200px;border: unset;height: 40px;background-image: linear-gradient(#ffb19f, #a9bee4);' type='submit'><div style='color: white'> Acheter</div></button>" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                    var middle = "";
                    result.boards.forEach(function (element) {
                        var tmp = "<tr>" +
                            "<th scope='row'> <img width='100px' src='images/products/image1.png'></th>" +
                            "<td>01.12.2020</td>" +
                            "<td>  <input class='form-check-input' type='checkbox' id='flexCheckChecked' checked> </td>" +
                            "<td><span class='fa fa-star checked'></span>" +
                            "<span class='fa fa-star checked'></span>" +
                            "<span class='fa fa-star checked'></span>" +
                            "<span class='fa fa-star'></span>" +
                            "<span class='fa fa-star'></span></td>" +
                            '<td><i onclick="viewproducts(' + element.id + ')" style="color: #ffb19f;" class="fa fa-angle-right" aria-hidden="true"></i></td>'
                        "</tr>";
                        middle = middle + tmp
                    })

                    $('#content').html(begin + middle + end)

                }
            });
        }

        function viewproducts(v) {
            console.log(v);
            $.ajax({
                url: "{{ path('viewActivatedFashionBoard') }}",
                type: "POST",
                data: {'id': parseInt(v)},
                success: function (result) {
                    var path = 'uploads/brochures/';
                    var begin = "<div class='tab-pane active' id='home'>" +
                        "<div class='contact-us container-fluid no-padding'>" +
                        "<h3>" +
                        "<div style='color:#ffb19f'>Mes produits" +
                        "</div>" +
                        "</h3>";
                    var end = "</div>" + "</div>";
                    console.log(result)
                    var middle = "";
                    result.forEach(function (element) {
                        var tmp = "<div style='padding-top: 5px' class='row'>" +
                            "<div class='col-md-2'>" +
                            "<img src=" + path + element.brochureFilename + ">" +
                            "</div>" +
                            "<div style='background-color: #FFB19F' class='col-md-10'>" +
                            "<h4>Description</h4>" +
                            "<h5>" + element.nom + "</h5>" +
                            "<h5>prix: " + element.prix + "</h5>" +
                            "<h5>Site web: " + element.url + "</h5>" +
                            "</div>" +
                            "</div>"
                        middle = middle + tmp
                    })
                    $('#content').html(begin + middle + end)
                }
            });
        }

        function paymentList() {
            $.ajax({
                url: "{{ path('orderbyuser') }}",
                type: "POST",
                success: function (result) {
                    var tmp;

                    console.log(result)
                    var begin = "<div class='tab-pane active' id='home'>" +
                        "<div class='contact-us container-fluid no-padding'>" +
                        "<h3>" +

                        "</h3><br><table class='table'>" +
                        "<thead>" +
                        "<tr>" +
                        "<th style='color: #cebe97;' scope='col'>Date</th>" +
                        "<th style='color: #cebe97;' scope='col'>Méthod</th>" +
                        "<th style='color: #cebe97;' scope='col'>Montant </th>" +
                        "<th style='color: #cebe97;' scope='col'>Status</th>" +
                        "<th style='color: #cebe97;' scope='col'>Facture</th>" +
                        "</tr>" +
                        "</thead>" +
                        "<tbody>";
                    var end = "</tbody>" +
                        "</table></div></div>";
                    var middle = "";
                    result.forEach(function (element) {
                        var tmp = "<tr>" +
                            "<td scope='row'> 01.12.2020</td>" +
                            "<td> Carte </td>" +
                            "<td>" + element.amount + "</td>" +
                            '<td>payé</td>' +
                            '<td><i class="fa fa-download" aria-hidden="true"></i> Telecharger PDF</td>' +

                            "</tr>";
                        middle = middle + tmp
                    })

                    $('#content').html(begin + middle + end)

                }
            });
        }

        function support() {
            $('#content').html("<div class='tab-pane active' id='home'>" +
                "<div class='contact-us container-fluid no-padding'>" +

                "<div class='form-group'>" +
                "<label>Object</label>" +
                "<input type='email' class='form-control' value='' name='subject' id='subject'  >" +
                "</div>" +
                "<div class='form-group'>" +
                "<label>Message</label>" +
                "<textarea name='message' id='message' class='form-control'></textarea>" +
                "</div>" +
                "<button style='width: 200px;border: unset;height: 40px;background-image: linear-gradient(#ffb19f, #a9bee4);' onclick='parseSupportData()' type='button'> <div style='color: white'> Envoyer</div></button>" +
                "</div>" +
                "</div>")

        }

        function parseSupportData() {
            var message = document.getElementById('subject').value;
            var subject = document.getElementById('message').value;
            $.ajax({
                url: "{{ path('sendsupportmessage') }}",
                type: "POST",
                data: {'message': message, 'subject': subject},
                success: function (result) {
                    $('#exampleModal').modal('show');
                    $('#exampleModal').modal('hide');

                }
            });
        }

        function parameters() {
            $('#content').html("<div align='center'>" +
                "<div class='card'>" +
                "<ul class='list-group list-group-flush'>" +
                "<li class='list-group-item'>" +
                "<div class='row'>" +
                "<div class='col-md-3'>" +
                "Master Card" +
                "</div>" +
                "<div class='col-md-3'>" +
                "<img width='50px' src='images/logo/mastercard.png'>" +
                "</div>" +
                "<div class='col-md-3'>" +
                "se termine par 4362" +
                "</div>" +
                "<div class='col-md-3'>" +
                "<i class='fa fa-close'></i>" +
                "</div>" +
                "</div>" +
                "</li>" +
                "<li class='list-group-item'><i class='fa fa-plus-circle'></i>Ajouter une methode de paiement</li>" +
                "</ul>" +
                "</div>" +
                "<div class='row'>" +
                "<div class='col'>" +
                "<button style='width: 100%;border: unset;height: 40px;background-image: linear-gradient(#ffb19f, #a9bee4);' onclick='parseSupportData()' type='button'> <div style='color: white'> Supprimer l'historique de quiz</div></button>" +

                "</div>" +
                "</div>" +
                "<div class='row'>" +
                "<div style='padding-top: 10px' class='col'>" +
                "<button style='width: 100%;border: unset;height: 40px;background-image: linear-gradient(#ffb19f, #a9bee4);' onclick='parseSupportData()' type='button'> <div style='color: white'> Consulter les termes et conditions</div></button>" +

                "</div>" +
                "</div>" +
                "<div class='row'>" +
                "<div style='padding-top: 10px' class='col'>" +
                "<button style='width: 100%;border: unset;height: 40px;background-image: linear-gradient(#ffb19f, #a9bee4);' onclick='parseSupportData()' type='button'> <div style='color: white'> Supprimer votre compte</div></button>" +

                "</div>" +
                "</div>" +

                "</div>")

        }

        function purchasedirection() {

            $.ajax({
                url: "{{ path('activatedfasionboard') }}",

                type: "POST",
                success: function (result) {
                    window.location.href ='http://127.0.0.1:8000/quiz';
                }
            });
        }
    </script>
{% endblock %}