{% extends "base.html.twig" %}

{% block scripts %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://js.braintreegateway.com/web/dropin/1.25.0/js/dropin.min.js"></script>

    <script>

        var state = true;
        $(document).ready(function () {

            var navListItems = $('div.setup-panel div a'),
                allWells = $('.setup-content'),
                allNextBtn = $('.nextBtn');

            allWells.hide();
            navListItems.click(function (e) {
                e.preventDefault();
                var $target = $($(this).attr('href')),
                    $item = $(this);

                if (!$item.hasClass('disabled')) {
                    navListItems.removeClass('btn-success').addClass('btn-default');
                    $item.addClass('btn-success');

                    allWells.hide();
                    $target.show();
                    $target.find('input:eq(0)').focus();
                }
            });

            allNextBtn.click(function () {
                var curStep = $(this).closest(".setup-content"),
                    curStepBtn = curStep.attr("id"),
                    nextStepWizard = $('div.setup-panel div a[href="#' + curStepBtn + '"]').parent().next().children("a"),
                    curInputs = curStep.find("input[type='text'],input[type='url']"),

                    isValid = true;
                var indexd = curStepBtn[curStepBtn.length - 1];

                if (parseInt(indexd) == 1) {

                    var firstname = document.getElementById('firstname').value;
                    var lastname = document.getElementById('lastname').value;
                    var city = document.getElementById('country').value;
                    var phone = document.getElementById('phone').value;
                    $.ajax({
                        url: "{{ path('updateuser') }}",
                        type: "POST",
                        data: {
                            'id': {{ app.user.id }},
                            'firstname': firstname,
                            'lastname': lastname,
                            'city': city,
                            'phone': phone
                        },
                        success: function (result) {
                            console.log(result.data)
                        }
                    });
                }


                $(".form-group").removeClass("has-error");
                for (var i = 0; i < curInputs.length; i++) {
                    if (!curInputs[i].validity.valid) {
                        isValid = false;
                        $(curInputs[i]).closest(".form-group").addClass("has-error");
                    }
                }

                if (isValid) nextStepWizard.removeAttr('disabled').trigger('click');
            });

            $('div.setup-panel div a.btn-success').trigger('click');
        });

    </script>
    <script>
        var client_token = '{{ gateway }}';

        braintree.dropin.create({
            authorization: client_token,
            selector: '#bt-dropin',
            paypal: {
                flow: 'vault'
            }
        }, function (createErr, instance) {
            if (createErr) {
                console.log('Create Error', createErr);
                return;
            }

            document.getElementById('submitbtn').addEventListener('click', function (event) {
                event.preventDefault();
                instance.requestPaymentMethod(function (err, payload) {
                    if (err) {
                        console.log('Request Payment Method Error', err);
                        return;
                    }
                    var form = document.getElementById('paymentform');
                    /*var paymentvariables= document.getElementById('paymentvariables')
                    var chars = '<input type="hidden" name="amount" id="amount" value="{{ bundle.price }}"/>'
                    var chars2 = '<input type="hidden" name="bundleid" id="bundleid" value="{{ bundle.id }}"/>'
                    form.append(chars);
                    form.append(chars2);*/
                    // Add the nonce to the form and submit
                    document.querySelector('#nonce').value = payload.nonce;
                    form.submit();
                });
            });
        });
    </script>
{% endblock %}
{% block body %}
    <style>

        .btn-success {
            color: #fff;
            background-color: #FF8661;
            border-color: #FF8661;
        }

        .panel-primary > .panel-heading {
            color: #fff;
            background-color: #FF8661;
            border-color: #FF8661;
        }

        .panel-primary {
            border-color: #FF8661;
        }

        body {
            margin-top: 30px;
        }

        .stepwizard-step p {
            margin-top: 0px;
            color: #666;
        }

        .stepwizard-row {
            display: table-row;
        }

        .stepwizard {
            display: table;
            width: 100%;
            position: relative;
        }

        .stepwizard-step button[disabled] {
            /*opacity: 1 !important;
            filter: alpha(opacity=100) !important;*/
        }

        .stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
            opacity: 1 !important;
            color: #bbb;
        }

        .stepwizard-row:before {
            top: 14px;
            bottom: 0;
            position: absolute;
            content: " ";
            width: 100%;
            height: 1px;
            background-color: #ccc;
            z-index: 0;
        }

        .stepwizard-step {
            display: table-cell;
            text-align: center;
            position: relative;
        }

        .btn-circle {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
        }
    </style>

    <div class="contact-us container-fluid no-padding">
        {% if ( app.user.state==0 ) %}
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                        <p><small>Informations</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                        <p><small>other information</small></p>
                    </div>
                    <div class="stepwizard-step col-xs-3">
                        <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                        <p><small>payment</small></p>
                    </div>

                </div>

            </div>
        {% else %}
            <div class="stepwizard">
                <div class="stepwizard-row setup-panel">

                    <div class="stepwizard-step col-xs-3" style="padding-left: 550px;
">
                        <a href="#step-1" type="button" class="btn btn-success btn-circle"
                           style="border-color: #FF8661;background-color: #FF8661">3</a>
                        <p><small>payment</small></p>
                    </div>

                </div>

            </div>

        {% endif %}
        {% if ( app.user.state==0 ) %}
            <div class="panel panel-primary setup-content" id="step-1">
                <div class="panel-heading">
                    <h3 class="panel-title">Shipper </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">First Name</label>
                        <input id="firstname" maxlength="100" type="text" required="required" class="form-control"
                               placeholder="Enter First Name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Last Name</label>
                        <input id="lastname" maxlength="100" type="text" required="required" class="form-control"
                               placeholder="Enter Last Name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Country</label>
                        <input id="country" maxlength="100" type="text" required="required" class="form-control"
                               placeholder="Country"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phone</label>
                        <input id="phone" type="number" required="required" class="form-control"
                               placeholder="phone number"/>
                    </div>
                    <button class="btn btn-primary nextBtn pull-right"
                            style="background-color: #FF8661;border-color: #FF8661" type="button">Next
                    </button>
                </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-2">
                <div class="panel-heading">
                    <h3 class="panel-title">Destination</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                               placeholder="Enter Company Name"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Company Address</label>
                        <input maxlength="200" type="text" required="required" class="form-control"
                               placeholder="Enter Company Address"/>
                    </div>
                    <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
                </div>
            </div>

            <div class="panel panel-primary setup-content" id="step-3">
                <div class="container-fluid no-left-padding no-right-padding woocommerce-checkout">
                    <!-- Container -->
                    <div class="container">
                        <div class="shipping-fields">
                            <div class="checkout-order-table">
                                <table>
                                    <thead>
                                    <tr>
                                        <th>Fashion Bundle</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item">
                                        <td class="product-name">{{ bundle.fashionbordernumber }} fashion Boards</td>
                                        <td>{{ bundle.price }} €</td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th>Sub Total</th>
                                        <td>{{ bundle.price }} €</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                            <div class="checkout-payment">
                                <form method="post" id="paymentform" action="{{ path('checkoutBrainTree') }}">
                                    <section>
                                        <label for="amount">
                                            <div class="input-wrapper amount-wrapper">

                                            </div>
                                        </label>

                                        <div class="bt-drop-in-wrapper">
                                            <div id="bt-dropin"></div>
                                        </div>
                                    </section>
                                    <div id="paymentvariables">

                                    </div>
                                    <input id="nonce" name="payment_method_nonce" type="hidden"/>
                                    <div class="place-order">
                                        <input type="hidden" name="amount" id="amount" value="{{ bundle.price }}"/>
                                        <input type="hidden" name="bundleid" id="bundleid" value="{{ bundle.id }}"/>

                                        <input class="button" id="submitbtn" type="submit"><span></span></input>
                                    </div>

                                </form>
                            </div>

                        </div>


                    </div>
                </div>

            </div>

        {% else %}
            <div class="container-fluid no-left-padding no-right-padding woocommerce-checkout">
                <!-- Container -->
                <div class="container">
                    <div class="shipping-fields">
                        <div class="checkout-order-table">
                            <table>
                                <thead>
                                <tr>
                                    <th>Fashion Bundle</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cart_item">
                                    <td class="product-name">{{ bundle.fashionbordernumber }} fashion Boards</td>
                                    <td>{{ bundle.price }} €</td>
                                </tr>
                                <tr class="cart-subtotal">
                                    <th>Sub Total</th>
                                    <td>{{ bundle.price }} €</td>
                                </tr>
                                </tbody>
                                <tfoot>

                                </tfoot>
                            </table>
                        </div>
                        <div class="checkout-payment">
                            <form method="post" id="paymentform" action="{{ path('checkoutBrainTree') }}">
                                <section>
                                    <label for="amount">
                                        <div class="input-wrapper amount-wrapper">

                                        </div>
                                    </label>

                                    <div class="bt-drop-in-wrapper">
                                        <div id="bt-dropin"></div>
                                    </div>
                                </section>
                                <input type="hidden" name="amount" id="amount" value="{{ bundle.price }}"/>
                                <input type="hidden" name="bundleid" id="bundleid" value="{{ bundle.id }}"/>
                                <input id="nonce" name="payment_method_nonce" type="hidden"/>
                                <div class="place-order">

                                    <input class="button" id="submitbtn" type="submit"><span></span></input>
                                </div>

                            </form>
                        </div>

                    </div>




                </div>
            </div>
        {% endif %}

    </div>






{% endblock %}